<html>
<head>
</head>
<body>
	{% if error %}
	<p>{{error}}</p>
	<a href="/home"> Go Back </a>
	{% else %}
	<p> CREATE AN EVENT </p>
	<h3>About the Event</h3>
	<form action="/createAnEvent" method="POST">
			{% for line in groups %}
			<input type="radio" name="Group" value="{{line.group_id}}" checked> {{line.group_name}} <br>
			{% endfor %}
		<p>Event ID</p>
		<input type="number" name = "Event_ID" placeholder="Event ID" required/> </br>

		<p>Event Name</p>
		<input type="text" name = "Event_Name" placeholder="Event Name" required/> </br>

		<p>Description</p>
		<input type="text" name = "Description" placeholder="Description" required/> </br>

		<p>Start Date</p>
		<input type="date" name = "Start_Date" placeholder="Enter Start Date" required/> </br>

		<p>Start Time</p>
		<input type="time" name = "Start_Time" required/> </br>

		<p>End Date</p>
		<input type="date" name = "End_Date" placeholder="Enter End Date" required/> </br>

		<p>End Time</p>
		<input type="time" name = "End_Time" required/> </br>

		<h3>Location Information</h3>
		<p>Location Name</p>
		<input type="text" name = "Location_Name" placeholder="Location Name" required/> </br>

		<p>Zipcode</p>
		<input type="number" step ="any" name = "Zipcode" placeholder="Zipcode" required/> </br>

		<p>Address</p>
		<input type="text" name = "Address" placeholder="Address" required/> </br>

		<p>Location Description</p>
		<input type="text" name = "Loc_Description" placeholder="Description" required/> </br>

		<p>Latitude
		<input type="number" step = "0.0001" name = "Latitude" placeholder="Latitude" /> </br>

		<p>Longitude</p>
		<input type="number" step = "0.0001" name = "Longitude" placeholder="Longitude" /> </br>

		<input type="submit" value = Create />
		{% if error %}
			<p class="error"><strong>Error:</strong> {{error}}</p>
		{% endif %}
	
	</form>
	{% endif %}
</body>
</html>