<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{event.title}}</title>
</head>
<body>

<h1>{{event.title}}</h1>
<p>{{event.description}}</p>

<p>Starts at:{{event.start_time}}
    <br>Ends at: {{event.end_time}}
    <br>Location: {{event.location_name}}, {{event.zipcode}}

    {% if private %}
        <p> How many stars would you give the event?</p>

        <p><form name="rating" action="/rate/{{event.event_id}}" method='POST'>
            <select name="rate">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <button type="submit">Submit!</button>
        </form>
        </p>
            {% if signedup %}
                <p>You've signed up for the event</p>
            {%else%}
                <form action="/signup/{{event.event_id}}" method="POST">
                <input type="submit" value = Signup />
                </form>
            {% endif%}
    {%endif%}

    {% if message%}
    <p> {{message}}</p>
    {% endif%}
</p>

</body>
</html>