<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{event.title}}</title>
</head>
<body>

<h1>{{event.title}}</h1>
<p>{{event.description}}</p>

<p>Starts at:{{event.start_time}}
    <br>Ends at: {{event.end_time}}
    <br>Location: {{event.location_name}}, {{event.zipcode}}

    {% if private %}
        {% if rating %}
            <p> rate me here</p>
        {%else%}
            {% if signedup %}
                <p>You've signed up for the event</p>
            {%else%}
                <form action="/signup/{{event.event_id}}" method="POST">
                <input type="submit" value = Signup />
                </form>
            {% endif%}
        {% endif%}
    {%endif%}
</p>

</body>
</html>