<html>
<head>
</head>
<body>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

	<h1>{{username}}'s page</h1>
	{% if addFriend is defined and addFriend|length > 0 %}
 		<button type="submit">✓Friends</button>
 	{% else %}	
 		<form action="/addAFriend/{{username}}" method="POST">
 		<button type="submit">Add Friend</button>
 		</form>
 	{% endif %}	
<h2>Events they're signed up for in the next 3 days</h2>
<table>
	<th>Title</th>
	<th>Start Time</th>
	<th>Location</th>
	<th>Zipcode</th>

{% for line in futureEvents %}
	<tr>
		<td><a href = "/events/{{line.event_id}}"> {{line.title}} </a></td>
		<td>{{line.start_time}}</td>
		<td>{{line.location_name}}</td>
		<td>{{line.zipcode}}</td>
	</tr>
{% endfor %}

</table>

<h2>Events they've gone to</h2>
<ul>
	{% for line in pastEvents%}
	<li><a href = "/events/{{line.event_id}}">{{line.title}} </a></li>
	{% endfor %}
</ul>

<h2>Friends</h2>
<table>
	<th>Username</th>
	<th>Upcoming Events</th>
	{%for friend in friends %}
	<tr>
		<td><a href = "/friends/{{friend.friend_to}}"> {{friend.friend_to}}</td>
		<td>  
		{% for line in friendEvents %}
			{% if line.friend_to == friend.friend_to %}
			<a href = "/events/{{line.event_id}}"> {{line.title}} </a> <br>
			{% endif %}
		{% endfor %}

		</td>

	</tr>
{% endfor %}
</table>
</body>