<!DOCTYPE html>
<html>
<head>
</head>
<body>

<p>
	{% if loggedIn %}
		{% if inGroup %}
			You're in this group
		{% else %}
			 <form action="/joinGroup/{{data.group_id}}" method="POST">
					<input type="submit" value = "Join Group!" />
					</form>
		{% endif %}
	{% endif %}
</p>


 <title>Title</title>
    <h1>{{data.group_name}}</h1>
    <h3>{{data.description}}</h3>
    <p> interests: {{interest.category}}, {{interest.keyword}}</p>
    <h2> UPCOMING EVENTS </h2>
<table>
	<th>Title</th>
	<th>Start Time</th>
	<th>Location</th>
	<th>Zipcode</th>

{% for line in event %}
	<tr>
		<td><a href = "/events/{{line.event_id}}"> {{line.title}} </a></td>
		<td>{{line.start_time}}</td>
		<td>{{line.location_name}}</td>
		<td>{{line.zipcode}}</td>
	</tr>
{% endfor %}

</table>


</body>


</html>