<html>
<head>
</head>
<body>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
	h1{
		color: #{{font_color.color}};
	}

</style>

	<h2>Welcome</h2>
	<h1>{{username}}</h1>

<h2><u>Events</u></h2>

<!-- This only shows up if the user is authorized??? -->
<a href="/createEvent">Create an event</a>
<br><br>
<a href="/createGroup">Create a group</a>
<br>

<form action="/eventSearch" method="POST">
	<input type="submit" value="Search for events">
</form>
{% if button %}
	<table>
		<th>Keyword</th>
		<th>Category</th>
		<th>Group Name</th>
		<th>event-id</th>
		<th>Title</th>
		<th>Start Time</th>
		<th>Location</th>
		<th>Zipcode</th>

	{% for line in eventSearch %}
		<tr>
			<td>{{line.keyword}}</td>
			<td>{{line.category}}</td>
			<td>{{line.group_name}}</td>
			<td>{{line.event_id}}</td>
			<td>{{line.title}}</td>
			<td>{{line.start_time}}</td>
			<td>{{line.location_name}}</td>
			<td>{{line.zipcode}}</td>
		</tr>
	{% endfor %}
	</table>
{% endif %}

<br>

<h2>Event's you're signed up for in the next 3 days</h2>
<table>
	<th>Title</th>
	<th>Start Time</th>
	<th>Location</th>
	<th>Zipcode</th>

{% for line in futureEvents %}
	<tr>
		<td><a href = "/events/{{line.event_id}}"> {{line.title}} </a></td>
		<td>{{line.start_time}}</td>
		<td>{{line.location_name}}</td>
		<td>{{line.zipcode}}</td>
	</tr>
{% endfor %}

</table>

<h2>Events you've gone to</h2>
<ul>
	{% for line in pastEvents%}
	<li><a href = "/events/{{line.event_id}}">{{line.title}} </a></li>
	{% endfor %}
</ul>
<h2>Friends</h2>
<table>
	<th>Username</th>
	<th>Upcoming Events</th>
	{%for friend in friends %}
	<tr>
		<td><a href = "/friends/{{friend.friend_to}}"> {{friend.friend_to}}</td>
		<td>  
		{% for line in friendEvents %}
			{% if line.friend_to == friend.friend_to %}
			<a href = "/events/{{line.event_id}}"> {{line.title}} </a> <br>
			{% endif %}
		{% endfor %}

		</td>

	</tr>
	{% endfor %}
</table>

<h2>Your groups</h2>
	<table>
		<th>Group name</th>
		<th>Average event rating</th>
		{%for group in groups %}
		<tr>
			<td><a href = "/groups/{{group.group_id}}">{{group.group_name}}</a></td>
			<td> {{group.avgRate}}</td>
		</tr>
		{%endfor%}

	</table>


<h2>Groups that sare your interests that you're not in</h2>
		<table>
		<th>Group name</th>
		{%for group in newGroups %}
		<tr>
			<td><a href = "/groups/{{group.group_id}}">{{group.group_name}}</a></td>
		</tr>
		{%endfor%}

	</table>

<a href="/logout">Logout</a>
</body>
