<html>
<head>
</head>
<body>
<form action="/post" method="POST">
	<h1>Welcome {{username}}</h1> 
	<input type="text" name = "blog" placeholder="post" required/> </br>
	<input type="submit" value = Post />
</form>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<!-- This only shows up if the user is authorized??? -->
<a href="/createEvent">Create an event</a>

<form action="/eventSearch" method="POST">
	<input type="submit" value="Search for events">
</form>
{% if button %}
	<table>
		<th>Keyword</th>
		<th>Category</th>
		<th>Group Name</th>
		<th>event-id</th>
		<th>Title</th>
		<th>Start Time</th>
		<th>Location</th>
		<th>Zipcode</th>

	{% for line in eventSearch %}
		<tr>
			<td>{{line.keyword}}</td>
			<td>{{line.category}}</td>
			<td>{{line.group_name}}</td>
			<td>{{line.event_id}}</td>
			<td>{{line.title}}</td>
			<td>{{line.start_time}}</td>
			<td>{{line.location_name}}</td>
			<td>{{line.zipcode}}</td>
		</tr>
	{% endfor %}
	</table>
{% endif %}

<br>

<table>
	<th>Title</th>
	<th>Start Time</th>
	<th>Location</th>
	<th>Zipcode</th>

{% for line in event %}
	<tr>
		<td><a href = "/events/{{line.event_id}}"> {{line.title}} </a></td>
		<td>{{line.start_time}}</td>
		<td>{{line.location_name}}</td>
		<td>{{line.zipcode}}</td>
	</tr>
{% endfor %}
</table>

<a href="/logout">Logout</a>

</body>


</html>
