<!DOCTYPE html>
<html>

<head>

</head>

<body>
{% if not message %}
	<a href="/login">Login</a>
	<a href="/register">Register</a>
	<p> Interests </p>
	<ul>
		<li> <a href = "/interests/Sports"> Sports </a> </li>
		<li> <a href = "/interests/Food"> Food </a> </li>
		<li> <a href = "/interests/Music"> Music </a> </li>
	</ul>
	<p> Events </p>
	<ul>
		{%for line in event %}
			<li> <a href = "/events/211"> {{line.title}} </a> </li>
		{% endfor %}
<!-- 		<li> <a href = "/events/211"> BaseballGame </a> </li>
		<li> <a href = "/events/332"> Cheese Tasting </a> </li>
		<li> <a href = "/events/999"> Hannah Montana Concert </a> </li> -->
	</ul>

{% endif %}

<!--{% if message %}
	<a href="/logout">Logout</a>
	<a href="/remove_account">Remove Account</a>
	<p class="message">You are logged in {{message}}. You have {{num}} follower(s)</p> </br>
	<a href="/interests">View your tweets</a> </br>
	<a href="/find_people">Find people to follow</a> </br>
	<a href="/unfollow">Unfollow someone</a> </br>
	<a href="/view_followed">View people you have followed</a> </br>
	</br>

        <h4>15 most recent tweets from you and your followers </h4> </br>

	{% for line in tweets%}
	        <p>{{line}}</p>
	        <hr>
	{% endfor %}
	{% endif %} -->
</body>

</html>
