<!DOCTYPE html>
<html>

<head>
</head>

<body>
	<a href="/login">Login</a>
	<a href="/register">Register</a>
	<p> Interests </p>
	<ul>
		<li> <a href = "/interests/Sports"> Sports </a> </li>
		<li> <a href = "/interests/Food"> Food </a> </li>
		<li> <a href = "/interests/Music"> Music </a> </li>
	</ul>
	<p> Events </p>
	<ul>
		{%for line in event %}
			<li> <a href = "/events/211"> {{line.title}} </a> </li>
		{% endfor %}
	</ul>

	<p> Interests </p>

	<table>
		<th>Category</th>
		<th>Keyword</th>

	{% for line in interests %}
		<tr>
			<td><a href="/interest">{{line.category}}</a></td>
			<td>{{line.keyword}}</td>
		</tr>
	{% endfor %}
	</table>

</body>

</html>
