

<!DOCTYPE html>
<html>


<head>


</head>


<body>
<!-- keep the same cases !-->
 <title>Title</title>
    <h1>Keyword: {{keyword}}</h1>
	<h1>Category: {{category}}</h1>


<h2> Related Groups and Events</h2>

<p> Groups: </p> 
<ul>
{%for line in data %} 
	<li><a href = "/groups/{{line.group_id}}" > {{line.group_name}} </a> </li>
{% endfor %}
</ul>

<p>Events</p>
<table>
	<th>Title</th>
	<th>Start Time</th>
	<th>Location</th>
	<th>Zipcode</th>

{% for line in events %}
	<tr>
		<td><a href = "/events/{{line.event_id}}"> {{line.title}} </a></td>
		<td>{{line.start_time}}</td>
		<td>{{line.location_name}}</td>
		<td>{{line.zipcode}}</td>
	</tr>
{% endfor %}




</body>


</html>
