

<!DOCTYPE html>
<html>


<head>


</head>


<body>
<!-- keep the same cases !-->
 <title>Title</title>
    <h1>Keyword: {{keyword}}</h1>
	<h1>Category: {{category}}</h1>


<h2> Related Groups and Events</h2>
<!-- groups with same interests !-->
{%for line in data %} <!--with interest.category == group.category !-->
	<p> Group: </p> 
	<a href = "/groups/{{line.group_id}}" > {{line.group_name}} </a> </li>	
	<p> Event: </p>
	<a href = "/events/{{line.event_id}}" > {{line.title}} </a></li> 
	<p> {{line.description}} </p>
{% endfor %}


<!--TODO hook group up-->




</body>


</html>
