<html>
<head>
</head>
<body>
<form action="/registerAuth" method="POST">
	<input type="text" name = "username" placeholder="username" required/> </br>
	<input type="password" name = "password" placeholder="password" required/></br>
	<input type="text" name = "firstname" placeholder="firstname" required/> </br>
	<input type="text" name = "lastname" placeholder="lastname" required/> </br>
	<input type="text" name = "email" placeholder="email" required/> </br>
	<input type="number" name = "zipcode" placeholder="zipcode" required/> </br>
	<input type="text" name = "color" placeholder="hex color"/> </br>


	<input type="submit">
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>

<a href="/">Go back</a>

</body>


</html>

